
  
      <div class="jumbotron">
        <!-- <h1>Super awesome marketing speak!</h1> -->
        <p class="lead">
          <!-- <img src="http://i2.wp.com/happyeveryday.biz/wp-content/uploads/2014/03/20120622-143219.jpg"> -->
        </p>
        <a class="btn btn-large btn-success" href="/inputs/new">Start</a>
      </div>
